<html lang="ja">
<body>
<h1>領収書</h1>
<p>{{.Invoice.Start}}~{{.Invoice.End}}の期間</p>
<p>{{.Invoice.Date}}に{{.Invoice.Total}}円いただきました．</p>
<p>{{.ClientCompany.Name}}の領収書</p>
<p>{{.Company.Name}}より</p>
</body>